saves/*
lightspeed-cache/*
lightspeed-cache
logs/*
crash-reports/*
screenshots/*
modernfix/*
config/tellme/*
conifg/oculus.properties
usercache.json
minecraftinstance.json
config/reforgium-renderer.properties
config/itlt-client.toml.bak
simplebackups/*
